body {
    background: white;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-menu a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding-right: 50px;
}

.nav-menu a:hover {
    color: #F7C903;
}

.nav-menu a.active {
    color: #F7C903;
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 10px;
}

.icon {
    color: black;
    text-decoration: none;
}

.search-bar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    background-color: #F7C903;
    border: none;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.logo-image {
    max-height: 50px;
    width: auto;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.menu-toggle {
    display: none;
}

@media (max-width: 530px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: white;
        width: 100%;
        z-index: 10;
    }

    .menu-toggle:checked+.hamburger+.nav-menu {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .nav-menu li {
        padding: 10px 20px;
    }
}

.nav-line {
    border: none;
    height: 1px;
    background-color: #000000;
    margin-top: 5px;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    padding: 10px;
}

.logo-info {
    text-align: center;
    margin-top: 20px;
}

.logo-info-size {
    width: 180px;
    height: 180px;
}

.contact-info {
    text-align: left;
}

.contact-info h2 {
    margin-bottom: 10px;
}

.contact-form {
    margin-top: 20px;
    text-align: left;
}

.contact-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.contact-form button {
    background-color: #F7C903;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #828282;
}

@media (max-width: 530px) {
    .row {
        flex-direction: column;
    }

    .column {
        text-align: center;
    }
}

footer {
    margin-top: auto;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
    max-width: 100%;
    box-sizing: border-box;
}

.footer-nav {
    flex: 1;
    padding: 10px;
    min-width: 200px;
    text-align: center;
}

.footer-promotion {
    flex: 1;
    padding: 10px;
    min-width: 200px;
}

.email-promotion {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 16px;
    transition: border-color 0.3s;
}

.email-promotion:focus {
    border-color: #007BFF;
    outline: none;
}

.social-media a {
    padding: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul a {
    color: black;
    text-decoration: none;
}

ul a:hover {
    color: #F7C903;
}

@media (max-width: 530px) {
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 100%;
    }

    .footer-promotion {
        grid-column: span 2;
        text-align: center;
        width: 100%;
    }

    .footer-nav {
        width: 100%;
        text-align: left;
        min-width: 100%;
    }

}

.copyright-footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.payment-method-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.payment-logo {
    padding: 10px;
    height: 50px;
}